-- CreateTable
CREATE TABLE `accesorio` (
    `id_accesorio` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_modelo` INTEGER NOT NULL,
    `id_almacen` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship18`(`id_modelo`),
    INDEX `IX_Relationship19`(`id_almacen`),
    PRIMARY KEY (`id_accesorio`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `almacen` (
    `id_almacen` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(150) NOT NULL,
    `existencia` INTEGER NOT NULL,
    `precio_compra` DECIMAL(10, 2) NOT NULL,
    `color` VARCHAR(20) NOT NULL,
    `minimo` INTEGER NOT NULL,
    `maximo` INTEGER NOT NULL,
    `imagen` TEXT NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_unidad` INTEGER NOT NULL,
    `id_tipo_insumo` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship15`(`id_unidad`),
    INDEX `IX_Relationship16`(`id_tipo_insumo`),
    PRIMARY KEY (`id_almacen`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `archivo` (
    `id_archivo` INTEGER NOT NULL AUTO_INCREMENT,
    `archivo` TEXT NOT NULL,
    `tipo` VARCHAR(20) NOT NULL,
    `id_registro` INTEGER NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    PRIMARY KEY (`id_archivo`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `colonia` (
    `id_colonia` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` CHAR(70) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_localidad` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship4`(`id_localidad`),
    PRIMARY KEY (`id_colonia`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `compra` (
    `id_compra` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `fecha` DATE NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_compra`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `corte` (
    `id_corte` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(200) NOT NULL,
    `fecha_registro` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_inicio` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_termino` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_usuario` INTEGER NOT NULL,
    `id_estatus_corte` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship32`(`id_usuario`),
    INDEX `IX_Relationship34`(`id_estatus_corte`),
    PRIMARY KEY (`id_corte`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `corte_modelo` (
    `id_corte_modelo` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `cantidad` INTEGER NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_corte` INTEGER NOT NULL,
    `id_modelo` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship23`(`id_corte`),
    INDEX `IX_Relationship24`(`id_modelo`),
    PRIMARY KEY (`id_corte_modelo`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `corte_modelo_piezas` (
    `id_corte_modelo_piezas` INTEGER NOT NULL AUTO_INCREMENT,
    `cantidad` INTEGER NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_corte_modelo` INTEGER NOT NULL,

    INDEX `IX_Relationship35`(`id_corte_modelo`),
    PRIMARY KEY (`id_corte_modelo_piezas`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `corte_tela` (
    `id_corte_tela` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `rollos` DECIMAL(10, 2) NOT NULL,
    `tendidas` DECIMAL(10, 2) NOT NULL,
    `inicio` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fin` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `comentarios` VARCHAR(200) NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_corte` INTEGER NOT NULL,
    `id_almacen` INTEGER NOT NULL,
    `id_estatus_tendida` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship22`(`id_corte`),
    INDEX `IX_Relationship25`(`id_almacen`),
    INDEX `IX_Relationship26`(`id_estatus_tendida`),
    PRIMARY KEY (`id_corte_tela`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `det_maq_corte` (
    `id_det_maq_corte` INTEGER NOT NULL AUTO_INCREMENT,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_detalle_maquila` INTEGER NOT NULL,
    `id_corte_modelo` INTEGER NOT NULL,

    INDEX `IX_Relationship39`(`id_detalle_maquila`),
    INDEX `IX_Relationship40`(`id_corte_modelo`),
    PRIMARY KEY (`id_det_maq_corte`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `det_maq_piezas` (
    `id_det_maq_piezas` INTEGER NOT NULL AUTO_INCREMENT,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_detalle_maquila` INTEGER NOT NULL,
    `id_corte_modelo_piezas` INTEGER NOT NULL,

    INDEX `IX_Relationship37`(`id_detalle_maquila`),
    INDEX `IX_Relationship38`(`id_corte_modelo_piezas`),
    PRIMARY KEY (`id_det_maq_piezas`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `detalle_compra` (
    `id_detalle_compra` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `cantidad` DECIMAL(10, 2) NOT NULL,
    `precio` DECIMAL(10, 2) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_compra` INTEGER NOT NULL,
    `id_almacen` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship20`(`id_compra`),
    INDEX `IX_Relationship21`(`id_almacen`),
    PRIMARY KEY (`id_detalle_compra`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `detalle_maquila` (
    `id_detalle_maquila` INTEGER NOT NULL AUTO_INCREMENT,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_maquila` INTEGER NOT NULL,

    INDEX `IX_Relationship27`(`id_maquila`),
    PRIMARY KEY (`id_detalle_maquila`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `detalle_modelo` (
    `id_detalle_modelo` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(200) NOT NULL,
    `cantidad` INTEGER NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_modelo` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship17`(`id_modelo`),
    PRIMARY KEY (`id_detalle_modelo`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `detalle_venta` (
    `id_detalle_venta` INTEGER NOT NULL AUTO_INCREMENT,
    `precio_venta` DECIMAL(10, 2) NOT NULL,
    `precio_costo` DECIMAL(10, 2) NOT NULL,
    `cantidad` CHAR(1) NOT NULL,
    `id_venta` INTEGER NOT NULL,
    `id_inventario` INTEGER NOT NULL,

    INDEX `IX_Relationship41`(`id_venta`),
    INDEX `IX_Relationship42`(`id_inventario`),
    PRIMARY KEY (`id_detalle_venta`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `entrega_maquila` (
    `id_entrega` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `fecha_entrega` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `cantidad` INTEGER NOT NULL,
    `comentarios` TEXT NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_corte_maquila` INTEGER NOT NULL,
    `id_persona` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship30`(`id_corte_maquila`),
    INDEX `IX_Relationship33`(`id_persona`),
    PRIMARY KEY (`id_entrega`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `estado` (
    `id_estado` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` VARCHAR(70) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_estado`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `estatus_corte` (
    `id_estatus_corte` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(200) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_estatus_corte`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `estatus_tendida` (
    `id_estatus_tendida` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(200) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_estatus_tendida`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `inventario` (
    `id_inventario` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `cantidad` INTEGER NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_modelo` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship31`(`id_modelo`),
    PRIMARY KEY (`id_inventario`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `localidad` (
    `id_localidad` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` VARCHAR(70) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_municipio` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship3`(`id_municipio`),
    PRIMARY KEY (`id_localidad`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `maquila` (
    `id_maquila` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `fecha_salida` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_entrega` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_maquilador` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship29`(`id_maquilador`),
    PRIMARY KEY (`id_maquila`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `maquildor` (
    `id_maquilador` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` VARCHAR(70) NOT NULL,
    `apepat` VARCHAR(70) NOT NULL,
    `apemat` VARCHAR(70) NOT NULL,
    `telefono` VARCHAR(20) NOT NULL,
    `correo` VARCHAR(20) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_calle` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship48`(`id_calle`),
    PRIMARY KEY (`id_maquilador`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `modelo` (
    `id_modelo` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(200) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_modelo`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `modulo` (
    `id_modulo` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(70) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_modulo`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `municipio` (
    `id_municipio` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` VARCHAR(70) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_estado` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship1`(`id_estado`),
    PRIMARY KEY (`id_municipio`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `permiso` (
    `id_permiso` INTEGER NOT NULL AUTO_INCREMENT,
    `id_usuario` INTEGER NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_modulo` INTEGER NULL,

    INDEX `IX_Relationship13`(`id_usuario`),
    INDEX `IX_Relationship14`(`id_modulo`),
    PRIMARY KEY (`id_permiso`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `persona` (
    `id_persona` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` VARCHAR(70) NOT NULL,
    `apepat` VARCHAR(70) NOT NULL,
    `apemat` VARCHAR(70) NOT NULL,
    `telefono` VARCHAR(20) NOT NULL,
    `correo` VARCHAR(20) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_puesto` INTEGER NOT NULL,
    `id_calle` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship10`(`id_puesto`),
    INDEX `IX_Relationship46`(`id_calle`),
    PRIMARY KEY (`id_persona`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `plazas` (
    `id_plaza` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(200) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_plaza`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `proveedor` (
    `id_proveedor` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` VARCHAR(70) NOT NULL,
    `apepat` VARCHAR(70) NOT NULL,
    `apemat` VARCHAR(70) NOT NULL,
    `telefono` VARCHAR(20) NOT NULL,
    `correo` VARCHAR(50) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_calle` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship47`(`id_calle`),
    PRIMARY KEY (`id_proveedor`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `puesto_trabajo` (
    `id_puesto` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(150) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_puesto`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tipo_insumo` (
    `id_tipo_insumo` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(70) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_tipo_insumo`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `unidad` (
    `id_unidad` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `descripcion` VARCHAR(70) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    PRIMARY KEY (`id_unidad`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `usuario` (
    `id_usuario` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `usuario` VARCHAR(15) NOT NULL,
    `password` VARCHAR(30) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `id_persona` INTEGER NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship6`(`id_persona`),
    PRIMARY KEY (`id_usuario`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `venta` (
    `id_venta` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `fecha_venta` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_usuario` INTEGER NOT NULL,
    `id_plaza` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship43`(`id_usuario`),
    INDEX `IX_Relationship44`(`id_plaza`),
    PRIMARY KEY (`id_venta`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `calle` (
    `id_calle` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(20) NOT NULL,
    `nombre` VARCHAR(200) NOT NULL,
    `numero` VARCHAR(20) NOT NULL,
    `fecha_creado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fecha_modificado` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `estatus` CHAR(1) NOT NULL,
    `id_colonia` INTEGER NOT NULL,

    UNIQUE INDEX `codigo`(`codigo`),
    INDEX `IX_Relationship45`(`id_colonia`),
    PRIMARY KEY (`id_calle`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `accesorio` ADD CONSTRAINT `Relationship18` FOREIGN KEY (`id_modelo`) REFERENCES `modelo`(`id_modelo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `accesorio` ADD CONSTRAINT `Relationship19` FOREIGN KEY (`id_almacen`) REFERENCES `almacen`(`id_almacen`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `almacen` ADD CONSTRAINT `Relationship15` FOREIGN KEY (`id_unidad`) REFERENCES `unidad`(`id_unidad`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `almacen` ADD CONSTRAINT `Relationship16` FOREIGN KEY (`id_tipo_insumo`) REFERENCES `tipo_insumo`(`id_tipo_insumo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `colonia` ADD CONSTRAINT `Relationship4` FOREIGN KEY (`id_localidad`) REFERENCES `localidad`(`id_localidad`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte` ADD CONSTRAINT `Relationship32` FOREIGN KEY (`id_usuario`) REFERENCES `usuario`(`id_usuario`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte` ADD CONSTRAINT `Relationship34` FOREIGN KEY (`id_estatus_corte`) REFERENCES `estatus_corte`(`id_estatus_corte`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte_modelo` ADD CONSTRAINT `Relationship23` FOREIGN KEY (`id_corte`) REFERENCES `corte`(`id_corte`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte_modelo` ADD CONSTRAINT `Relationship24` FOREIGN KEY (`id_modelo`) REFERENCES `modelo`(`id_modelo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte_modelo_piezas` ADD CONSTRAINT `Relationship35` FOREIGN KEY (`id_corte_modelo`) REFERENCES `corte_modelo`(`id_corte_modelo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte_tela` ADD CONSTRAINT `Relationship22` FOREIGN KEY (`id_corte`) REFERENCES `corte`(`id_corte`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte_tela` ADD CONSTRAINT `Relationship25` FOREIGN KEY (`id_almacen`) REFERENCES `almacen`(`id_almacen`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `corte_tela` ADD CONSTRAINT `Relationship26` FOREIGN KEY (`id_estatus_tendida`) REFERENCES `estatus_tendida`(`id_estatus_tendida`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `det_maq_corte` ADD CONSTRAINT `Relationship39` FOREIGN KEY (`id_detalle_maquila`) REFERENCES `detalle_maquila`(`id_detalle_maquila`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `det_maq_corte` ADD CONSTRAINT `Relationship40` FOREIGN KEY (`id_corte_modelo`) REFERENCES `corte_modelo`(`id_corte_modelo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `det_maq_piezas` ADD CONSTRAINT `Relationship37` FOREIGN KEY (`id_detalle_maquila`) REFERENCES `detalle_maquila`(`id_detalle_maquila`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `det_maq_piezas` ADD CONSTRAINT `Relationship38` FOREIGN KEY (`id_corte_modelo_piezas`) REFERENCES `corte_modelo_piezas`(`id_corte_modelo_piezas`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `detalle_compra` ADD CONSTRAINT `Relationship20` FOREIGN KEY (`id_compra`) REFERENCES `compra`(`id_compra`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `detalle_compra` ADD CONSTRAINT `Relationship21` FOREIGN KEY (`id_almacen`) REFERENCES `almacen`(`id_almacen`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `detalle_maquila` ADD CONSTRAINT `Relationship27` FOREIGN KEY (`id_maquila`) REFERENCES `maquila`(`id_maquila`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `detalle_modelo` ADD CONSTRAINT `Relationship17` FOREIGN KEY (`id_modelo`) REFERENCES `modelo`(`id_modelo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `detalle_venta` ADD CONSTRAINT `Relationship41` FOREIGN KEY (`id_venta`) REFERENCES `venta`(`id_venta`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `detalle_venta` ADD CONSTRAINT `Relationship42` FOREIGN KEY (`id_inventario`) REFERENCES `inventario`(`id_inventario`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `entrega_maquila` ADD CONSTRAINT `Relationship30` FOREIGN KEY (`id_corte_maquila`) REFERENCES `detalle_maquila`(`id_detalle_maquila`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `entrega_maquila` ADD CONSTRAINT `Relationship33` FOREIGN KEY (`id_persona`) REFERENCES `persona`(`id_persona`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `inventario` ADD CONSTRAINT `Relationship31` FOREIGN KEY (`id_modelo`) REFERENCES `modelo`(`id_modelo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `localidad` ADD CONSTRAINT `Relationship3` FOREIGN KEY (`id_municipio`) REFERENCES `municipio`(`id_municipio`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `maquila` ADD CONSTRAINT `Relationship29` FOREIGN KEY (`id_maquilador`) REFERENCES `maquildor`(`id_maquilador`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `maquildor` ADD CONSTRAINT `Relationship48` FOREIGN KEY (`id_calle`) REFERENCES `calle`(`id_calle`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `municipio` ADD CONSTRAINT `Relationship1` FOREIGN KEY (`id_estado`) REFERENCES `estado`(`id_estado`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `permiso` ADD CONSTRAINT `Relationship13` FOREIGN KEY (`id_usuario`) REFERENCES `usuario`(`id_usuario`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `permiso` ADD CONSTRAINT `Relationship14` FOREIGN KEY (`id_modulo`) REFERENCES `modulo`(`id_modulo`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `persona` ADD CONSTRAINT `Relationship10` FOREIGN KEY (`id_puesto`) REFERENCES `puesto_trabajo`(`id_puesto`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `persona` ADD CONSTRAINT `Relationship46` FOREIGN KEY (`id_calle`) REFERENCES `calle`(`id_calle`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `proveedor` ADD CONSTRAINT `Relationship47` FOREIGN KEY (`id_calle`) REFERENCES `calle`(`id_calle`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `usuario` ADD CONSTRAINT `Relationship6` FOREIGN KEY (`id_persona`) REFERENCES `persona`(`id_persona`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `venta` ADD CONSTRAINT `Relationship43` FOREIGN KEY (`id_usuario`) REFERENCES `usuario`(`id_usuario`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `venta` ADD CONSTRAINT `Relationship44` FOREIGN KEY (`id_plaza`) REFERENCES `plazas`(`id_plaza`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `calle` ADD CONSTRAINT `Relationship45` FOREIGN KEY (`id_colonia`) REFERENCES `colonia`(`id_colonia`) ON DELETE RESTRICT ON UPDATE RESTRICT;

